{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/cdm_clothes.css' %}">
    <script src="{% static 'js/cdm_clothes.js' %}"></script>
{% endblock %}

{% block conter %}
    <div class="content">
        <div class="content_main_left">
            <table class="layui-table" lay-size="sm" width="100%">
                <colgroup>
                    <col width="150">
                    <col width="0">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>{{ name }}</th>
                </tr>
                </thead>
                <tbody class="tbody">
                <tr>
                    <td>技能等级</td>
                    <td>{{ skill }}</td>
                </tr>
                <tr>
                    <td>订单</td>
                    <td id="so"></td>
                </tr>
                <tr>
                    <td>客户款号</td>
                    <td id="customer_num"></td>
                </tr>
                <tr class="process">
                    <td>工序名</td>
                    <td id="work_stage">{{ work_stage }}</td>
                </tr>
                {#                    编号流程#}
                <tr>
                    <td>客户</td>
                    <td id="customer"></td>
                </tr>
                <tr>
                    <td>样板</td>
                    <td id="template"></td>
                </tr>
                <tr>
                    <td>袖扣锁眼技法</td>
                    <td id="xksyjf"></td>
                </tr>
                <tr>
                    <td>钉扣线方式</td>
                    <td id="dkxfs"></td>
                </tr>
                <tr>
                    <td>粘衬领面</td>
                    <td id="nclm"></td>
                </tr>
                <tr>
                    <td>粘衬挂面</td>
                    <td id="ncgm"></td>
                </tr>
                <tr>
                    <td>粘衬前片</td>
                    <td id="ncqp"></td>
                </tr>
                <tr>
                    <td>粘衬领脚</td>
                    <td id="nclj"></td>
                </tr>
                <tr>
                    <td>粘衬袖山</td>
                    <td id="ncxs"></td>
                </tr>
                <tr>
                    <td>粘衬底边</td>
                    <td id="ncdb"></td>
                </tr>
                <tr>
                    <td>粘衬肩部</td>
                    <td id="ncjb"></td>
                </tr>
                <tr>
                    <td>面料(用量)</td>
                    <td id="ml"></td>
                </tr>
                <tr>
                    <td>里大袋开线料(用量)</td>
                    <td id="lddkxl"></td>
                </tr>
                <tr>
                    <td>卡袋开线料(用量)</td>
                    <td id="kdkxl"></td>
                </tr>
                <tr>
                    <td>笔袋开线料(用量)</td>
                    <td id="bdkxl"></td>
                </tr>
                <tr>
                    <td>挂里三角料(用量)</td>
                    <td id="glsjl"></td>
                </tr>
                <tr>
                    <td>里袋贴(用量)</td>
                    <td id="ldt"></td>
                </tr>
                <tr>
                    <td>香水袋料(用量)</td>
                    <td id="xsdl"></td>
                </tr>
                </tbody>
            </table>
{#            <script id="kablist_model" type="text/html">#}
{#                <%if(kablist!=null){% >#}
{#                <%for(var list of kablist){% >#}
{#                <tr>#}
{##}
{#                    <td><%=kablist[0].款式项%></td>#}
{#                    <td><%=kablist[0].款式值%></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><%=kablist[0].工艺项%></td>#}
{#                    <td><%=kablist[0].工艺值%></td>#}
{#                </tr>#}
{#                <tr>#}
{##}
{#                    <td> <%=kablist[0].BOM项%></td>#}
{#                    <td><%=kablist[0].BOM值%></td>#}
{#                </tr>#}
{#                <%}%>#}
{#                <%}%>#}
{#            </script>#}
{#            <script id="size_list_dic_model" type="text/html">#}
{#                <%if(size_list_dic!=null){% >#}
{#                <tr>#}
{#                    <td><%=size_list_dic[0]['版型']%></td>#}
{#                    <td><%=size_list_dic[0]['备注']%></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><%=size_list_dic[1]['版型']%></td>#}
{#                    <td><%=size_list_dic[1]['备注']%></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><%=size_list_dic[2]['版型']%></td>#}
{#                    <td><%=size_list_dic[2]['备注']%></td>#}
{#                </tr>#}
{#                <%}%>#}
{#            </script>#}
        </div>
        <div class="processGuidance">
            <ul class="process_img">
                <li>
                    <img id="stage_image" src="" alt="">
                </li>
                <div class="sm">
                    <p id="dgk"></p>
                    <p id="md"></p>
                    <p id="fy"></p>
                    <p id="gzkj"></p>
                    <p id="sjd"></p>
                    <p id="xkkc"></p>
                    <p id="xksl"></p>
                    <p id="xkky"></p>
                    <p id="lddsj"></p>
                </div>
            </ul>
            <div class="bottom_code">
                <div style="padding: 20px; background-color: #F2F2F2;" class="bottom_code_txt">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                {#                        <div class="layui-card-header">客户要求</div>#}
                                <div class="layui-card-body">
                                    <span>客户要求：</span>
                                    <span id="customer_req"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 20px; background-color: #F2F2F2;" class="bottom_code_txt">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                {#                        <div class="layui-card-header">客户要求</div>#}
                                <div class="layui-card-body">
                                    <span>面料裁剪：</span>
                                    <span id="mlcj"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 20px; background-color: #F2F2F2;" class="bottom_code_txt">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                {#                        <div class="layui-card-header">客户要求</div>#}
                                <div class="layui-card-body">
                                    <span>裁剪改版：</span>
                                    <span id="cjgb"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="layui-table" lay-size="sm" id="cm_detaile">
                    <colgroup>
                        <col width="150">
                        <col width="0">
                        <col>
                    </colgroup>
                    <tbody class="cm_detaile_main">

                    </tbody>

                </table>
            </div>
            <div class="code_number">
                <span class="state"></span>
            </div>
            {#                <tr>#}
            {#                        <td>流水号：</td>#}
            {#                        <td id="serial_number"></td>#}
            {#                    </tr>#}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var process
        var station = "{{ station }}"
        var name = "{{ name }}"
        var machine_code = "{{ machine_code }}"
        var card_id = "{{ card_id }}"
        var skill = "{{ skill }}"
        var userName = "{{ name }}"
        var prompt = document.getElementsByClassName("prompt");
        window.onload = function (e) {
            {# 图片的缩放#}
            list.zoomify();
            process = $('#work_stage').html()
            var code = "";
            var lastTime, nextTime;
            var lastCode, nextCode;
            /*socket*/
            list.echo_code();

            document.onkeypress = function (e) {
                nextCode = e.which;
                nextTime = new Date().getTime();

                if (lastCode != null && lastTime != null && nextTime - lastTime <= 30) {
                    code += String.fromCharCode(lastCode);
                } else if (lastCode != null && lastTime != null && nextTime - lastTime > 100) {
                    code = "";
                }

                lastCode = nextCode;
                lastTime = nextTime;
            }
            this.Template_rendering = function () {
                this.onkeypress = function (e) {
                    {#                console.log("e",e);#}
                    if (e.which == 13) {
                        console.log(code);
                        $('#code').text(code)
                        readcode({code: code, card_id: card_id.toString(), process: process, station: station});
                        code = "";
                    }
                }
            }
            Template_rendering();
        }
    </script>
{% endblock %}
