{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
</head>
<body>
<h3 style="text-align:center;" onclick="relogin()">点此重新登陆</h3>
<div class="prompt">{{ message }}</div>
</body>
    <script>
        function relogin() {
            var event = new MessageEvent('call', { 'view': window, 'bubbles': false, 'cancelable': false, 'data': '~!!!!!!!!!!!!!!!!' });
            document.dispatchEvent (event);
        }
    </script>
</html>