{% load static %}
<DOCTYPE !html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/workdetail.css' %}">
        <link rel="stylesheet" href="{% static 'css/comment.css' %}">
        <link rel="stylesheet" href="{% static 'css/popup.css' %}">
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/template.js' %}"></script>
{#        <script src="{% static 'js/workdetail.js' %}"></script>#}
        <title>MES</title>
    </head>

    <body>
         <div class="bag">
                <div class="popup">
                    <div class="box">
                        <div class="morph-shape">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 560 280" preserveAspectRatio="none">
                                <rect x="3" y="3" fill="none" width="556" height="276"/>
                            </svg>
                            <div class="dialog-inner">
                                <h2>The big guy is resting </h2>
                                <div> Are you ok ？</div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
{#        <img src="" alt="">#}

        <div class="herder">
            <div class="herder_title">百先得智能工位</div>
            <ul class="top_btn">
                <li id="changeTime" onclick="changeTime(this)">暂停</li>
                <li>故障</li>
                <li onclick="off_work()">下班</li>
            </ul>
            <ul class="today">
                <li><img src="" alt=""></li>
                <li>今日产量：<a id="today_total_qty"></a></li>
                <li>效率：<a id="effectiveness"></a></li>
        {#      <li>工作时长：<a id="timer"></a></li>#}
                <li>数量：<a id="num"></a></li>
            </ul>
        </div>
        <div class="content">
{#             <h5 class="title">基本信息</h5>#}
            <div class="content_main_left">
                    <table class="basic_massage" border="1px" cellspacing="0" cellpadding="none" width="100%" >
                    <thead>
                        <tr>
                            <td>姓名：</td>
                            <td>{{ name }}</td>
                        </tr>
                        <tr>
                            <td>卡号：</td>
                            <td id="card_id">{{ card_id }}</td>
                        </tr>
                        <tr>
                         <td>工序：</td>
                         <td #work_stage>{{ department }}</td>
                        <tr>
                            <td>工位号：</td>
                            <td id="station">{{ station }}</td>
                        </tr>
                        <tr>
                            <td>技能等级：</td>
                            <td>{{ skill }}</td>
                        </tr>
                        <tr>
                            <td>MO：</td>
                            <td id="mo"></td>
                        </tr>
                        <tr>
                            <td>SO：</td>
                            <td id="so"></td>
                        </tr>
                        <tr>
                            <td>二维码：</td>
                            <td id="code"></td>
                        </tr>
                        <tr>
                            <td>流水号：</td>
                            <td id="serial_number"></td>
                        </tr>
                        <tr>
                            <td>客户款号：</td>
                            <td id="customer_num"></td>
                        </tr>
                        <tr>
                            <td>客户要求：</td>
                            <td id="customer_req"></td>
                        </tr>
                        <tr class="process">
                            <td>工序名：</td>
                            <td id="work_stage">{{work_stage}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <table id="kablist" border="1px" cellpadding="0" cellspacing="0" width="100%"></table>
                    </tbody>
                    <tfoot>
                       <table id="size_list_dic" border="1px" cellpadding="0" cellspacing="0" width="100%"></table>
                    </tfoot>
                </table>
                <script id="kablist_model" type="text/html">
                {#    kuanshi#}
                    <%if(kablist!=null){%>
                       <%for(var list of kablist){%>
                {#          <a>11111111111111</a>#}
                {#          <a><%=list.BOM值%></a>#}
                {#          <%for(var k in list){%>#}
                            <tr>
{#                                 <td><%=list%>款式项&nbsp:&nbsp</td>#}
{#                                 <td><%=kablist[0].款式项%></td>#}
                                   <td><%=kablist[0].款式项%></td>
                                   <td><%=kablist[0].款式值%></td>
                            </tr>
                            <tr>
{#                                 <td><%=list%>款式值&nbsp:&nbsp</td>#}
{#                                 <td><%=kablist[0].款式值%></td>#}
                                   <td><%=kablist[0].工艺项%></td>
                                   <td><%=kablist[0].工艺值%></td>
                            </tr>
                            <tr>
{#                                 <td> <%=list%>工艺项&nbsp:&nbsp</td>#}
{#                                 <td><%=kablist[0].工艺项%></td>#}
                                   <td> <%=kablist[0].BOM项%></td>
                                   <td><%=kablist[0].BOM值%></td>
                            </tr>
{#                            <tr>#}
{#                                 <td><%=list%>工艺值&nbsp:&nbsp</td>#}
{#                                 <td><%=kablist[0].工艺值%></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                 <td><%=list%>BOM项&nbsp:&nbsp</td>#}
{#                                 <td> <%=kablist[0].BOM项%></td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                 <td><%=list%>BOM值&nbsp:&nbsp</td>#}
{#                                 <td><%=kablist[0].BOM值%></td>#}
{#                            </tr>#}
                {#          <%}%>#}
                        <%}%>
                    <%}%>
                {#    gongyi#}
                {#    <%if(size_list_dic!=null){%>#}
                {##}
                {#       <%for(var size_list of size_list_dic){%>#}
                {#          <%for(var k in size_list){%>#}
                {#       <a>#}
                {#        <%=k%>:<%=size_list[k]%>#}
                {#        </a>#}
                {#           <%}%>#}
                {#        <%}%>#}
                {#    <%}%>#}

                </script>
                 <script id="size_list_dic_model" type="text/html">
                {#    kuanshi#}
                    <%if(size_list_dic!=null){%>

{#                       <%for(var list of size_list_dic){%>#}
                {#          <a>11111111111111</a>#}
                {#          <a><%=list.BOM值%></a>#}
{#                          <%for(var k in list){%>#}
{#                            <tr>#}
{#                                <td><%=k%> &nbsp: &nbsp</td>#}
{#                                <td><%=list['备注']%></td>#}
{#                            </tr>#}
{#                          <%}%>#}
                            <tr>
                                <td><%=size_list_dic[0]['版型']%></td>
                                <td><%=size_list_dic[0]['备注']%></td>
                            </tr>
                            <tr>
                                <td><%=size_list_dic[1]['版型']%></td>
                                <td><%=size_list_dic[1]['备注']%></td>
                            </tr>
                            <tr>
                                <td><%=size_list_dic[2]['版型']%></td>
                                <td><%=size_list_dic[2]['备注']%></td>
                            </tr>
{#                        <%}%>#}
                    <%}%>
                {#    gongyi#}
                {#    <%if(size_list_dic!=null){%>#}
                {##}
                {#       <%for(var size_list of size_list_dic){%>#}
                {#          <%for(var k in size_list){%>#}
                {#       <a>#}
                {#        <%=k%>:<%=size_list[k]%>#}
                {#        </a>#}
                {#           <%}%>#}
                {#        <%}%>#}
                {#    <%}%>#}
                </script>
            </div>
            <div class="processGuidance">
                <ul class="process_img">
                    <li>
                        <H5>工艺指导</H5>
                        <img id="stage_image" src="" alt="">
                    </li>
                </ul>
                <ul class="quality ">
{#                    <li>质量标准说明：<p id="quality_remarks"></p>#}
{#                    </li>#}
                    <li>
                        <H5>质量标准</H5>
                        <span class="left_img">
                            <img id="quality_image" src="" alt="">
                        </span>
                    </li>
                </ul>
                <div class="materials">
                    <table border="1" width="100%" bgcolor="#e9faff" cellspacing="0">
                         <tr align="center">
                            <td>用料1</td>
                            <td>用料名</td>
                            <td>图片</td>
                             <td>用料2</td>
                            <td>用料名</td>
                            <td>图片</td>
                         </tr>
                         <tr align="center">
                            <td>用料3</td>
                            <td>用料名</td>
                            <td>图片</td>
                             <td>用料4</td>
                            <td>用料名</td>
                            <td>图片</td>
                         </tr>
                    </table>
                </div>
            </div>
</div>
    </body>
    <script>
        var process
        var station
        window.onload = function(e){
        process = $('#work_stage').html()
        station = $('#station').html()
        var code = "";
        var lastTime,nextTime;
        var lastCode,nextCode;
        var card_id = $('#card_id').html()
            /*socket*/
        if (window.s) {
                window.s.close()
            }
            /*创建socket连接*/
            var socket = new WebSocket("ws://192.168.1.140:8000/echo/");
            socket.onopen = function () {
                console.log('WebSocket open');//成功连接上Websocket
            };
            socket.onmessage = function (e) {
                alert('全体通告: ' + e.data);//打印出服务端返回过来的数据
                $('#messagecontainer').prepend('<p>' + e.data + '</p>');
            };
            // Call onopen directly if socket is already open
            if (socket.readyState == WebSocket.OPEN) socket.onopen();
            window.s = socket;

        document.onkeypress = function(e) {
            nextCode = e.which;
            nextTime = new Date().getTime();

            if(lastCode != null && lastTime != null && nextTime - lastTime <= 30) {
                code += String.fromCharCode(lastCode);
            } else if(lastCode != null && lastTime != null && nextTime - lastTime > 100){
                code = "";
            }

            lastCode = nextCode;
            lastTime = nextTime;
        }

        this.Template_rendering=function(){
                this.onkeypress = function(e){
{#                console.log("e",e);#}
                if(e.which == 13){
                    console.log(code);
                    $('#code').text(code)
                    $.ajax({
                            type: "POST",
                            url: "http://192.168.1.140:8000/workmessage/",
                            data: {code:code, card_id:card_id.toString(),process:process,station:station,type:"workdetail"},
                            dataType: "json",
                            success: function(data){
                                if (data=="null"){

                                }
                                else {
                                var res = JSON.parse(data.data)
                                console.log("res",res)
                                $('#mo').text(res['Mo'])
                                $('#stage_remarks').text(res['stage_remarks'])
                                $('#quality_remarks').text(res['quality_remarks'])
                                $('#effectiveness').text(res['effectiveness'])
                                $('#so').text(res['So'])
                                $('#today_total_qty').text(res['today_total_qty'])
                                $('#num').text(res['num'])
                                $('#serial_number').text(res['serial_number'])
                                $('#customer_num').text(res['customer_code'])
                                $('#customer_req').text(res['customer_claim'])

                                var src_quality_image = 'data:image/jpeg;base64,'+res['quality_image']
                                var src_stage_image = 'data:image/jpeg;base64,'+res['stage_image']
                                $('#quality_image').attr("src",src_quality_image)
                                $('#stage_image').attr("src",src_stage_image)
                                console.log(res['size_list_dic'])
                                res['size_list_dic'] =  JSON.parse(res['size_list_dic'].replace(/'/g,'"'))
{#                                console.log(res['kablist'][0]['款式值'])#}
                                var kablist_html = template.render('kablist_model',res);
                                var size_list_dic_html=template.render('size_list_dic_model',res);
                                $("#kablist").html(kablist_html);
                                $("#size_list_dic").html(size_list_dic_html);
                                }
                            }
                        });
                    code = "";
                }
            }
        }
        Template_rendering();

    }



    function off_work() {
        var event = new MessageEvent('call', { 'view': window, 'bubbles': false, 'cancelable': false, 'data': '~!!!!!!!!!!!!!!!!' });
            document.dispatchEvent (event);
        var card_id = $('#card_id').html()
        $.ajax({
                type: "POST",
                url: "http://192.168.1.140:8000/offwork/",
                data: {card_id: card_id.toString(),process:process,station:station},
                dataType: "json",
                success: function (data) {
{#                    $('#changeTime').text("恢复")#}
                    console.log("下班")
                }
            })

    }
{#暂停与恢复#}
console.log("this",this);
var that=this;
    function changeTime(obj) {
        var card_id = $('#card_id').html()
        var status = obj.innerHTML
        console.log(obj.innerHTML)
        if (status == '暂停') {
            console.log("~~~~~~")
            $.ajax({
                type: "POST",
                url: "http://192.168.1.140:8000/stopTime/",
                data: {card_id: card_id.toString(),process:process,station:station},
                dataType: "json",
                success: function (data) {
                    $('#changeTime').text("恢复")
                    var bag=document.getElementsByClassName("bag");
                    console.log("bag",bag);
                    bag[0].style.display="block";
                    console.log("that",that);
                    that.onkeypress=false;
                    console.log("this",that);
                }
            })
        }
        else {
            console.log("~~~~~~")
            $.ajax({
                type: "POST",
                url: "http://192.168.1.140:8000/recoverTime/",
                data: {card_id: card_id.toString(),process:process,station:station},
                dataType: "json",
                success: function (data) {
                    $('#changeTime').text("暂停");
                    var bag=document.getElementsByClassName("bag");
                    console.log("bag",bag);
                    bag[0].style.display="none";
                    that.Template_rendering();
                }
            })
        }
    }

    </script>
    </html>