{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/yachen.css' %}">
    <script src="{% static 'js/yachen.js' %}"></script>
{% endblock %}

{% block conter %}
    <div class="content">
        <div class="content_main_left">
            <table class="layui-table" lay-size="sm" width="100%">
                <colgroup>
                    <col width="150">
                    <col width="0">
                    <col>
                </colgroup>
                <tr>
                    <td>订单</td>
                    <td id="so"></td>
                </tr>
                <tr>
                    <td>客户款号</td>
                    <td id="customer_num"></td>
                </tr>
                <tr class="process">
                    <td>工序名</td>
                    <td id="work_stage">{{ work_stage }}</td>
                </tr>
                {#                    裁剪大货里布#}
                <tr>
                    <td>工艺</td>
                    <td id="gy"></td>
                </tr>
                <tr>
                    <td>外层材料</td>
                    <td id="wccl"></td>
                </tr>
                <tr>
                    <td>内层材料</td>
                    <td id="nccl"></td>
                </tr>
                <tr>
                    <td>马尾</td>
                    <td id="mw"></td>
                </tr>
                <tr>
                    <td>胸棉</td>
                    <td id="xm"></td>
                </tr>
                <tr>
                    <td>大身衬</td>
                    <td id="dsc"></td>
                </tr>
                <tr>
                    <td>上衣袋布</td>
                    <td id="sydb"></td>
                </tr>
                <tr>
                    <td>版型</td>
                    <td id="bx"></td>
                </tr>
                <tr>
                    <td>款式</td>
                    <td id="ks"></td>
                </tr>
                <tr>
                    <td>外层材料用量</td>
                    <td id="wcclyl"></td>
                </tr>
                <tr>
                    <td>内层材料用量</td>
                    <td id="ncclyl"></td>
                </tr>
                <tr>
                    <td>马尾用量</td>
                    <td id="mwyl"></td>
                </tr>
                <tr>
                    <td>领底尼</td>
                    <td id="ldn"></td>
                </tr>
                <tr>
                    <td>大身衬用量</td>
                    <td id="dscyl"></td>
                </tr>
                <tr>
                    <td>订单数量</td>
                    <td id="ddsl"></td>
                </tr>
                </tbody>
            </table>
{#            <script id="kablist_model" type="text/html">#}
{#                <%if(kablist!=null){% >#}
{#                <%for(var list of kablist){% >#}
{#                <tr>#}
{##}
{#                    <td><%=kablist[0].款式项%></td>#}
{#                    <td><%=kablist[0].款式值%></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><%=kablist[0].工艺项%></td>#}
{#                    <td><%=kablist[0].工艺值%></td>#}
{#                </tr>#}
{#                <tr>#}
{##}
{#                    <td> <%=kablist[0].BOM项%></td>#}
{#                    <td><%=kablist[0].BOM值%></td>#}
{#                </tr>#}
{#                <%}%>#}
{#                <%}%>#}
{#            </script>#}
{#            <script id="size_list_dic_model" type="text/html">#}
{#                <%if(size_list_dic!=null){% >#}
{#                <tr>#}
{#                    <td><%=size_list_dic[0]['版型']%></td>#}
{#                    <td><%=size_list_dic[0]['备注']%></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><%=size_list_dic[1]['版型']%></td>#}
{#                    <td><%=size_list_dic[1]['备注']%></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><%=size_list_dic[2]['版型']%></td>#}
{#                    <td><%=size_list_dic[2]['备注']%></td>#}
{#                </tr>#}
{#                <%}%>#}
{#            </script>#}
        </div>
        <div class="processGuidance">
            <ul class="process_img">
                <li>
                    <img id="stage_image" src="" alt="">
                </li>
            </ul>
            <div class="bottom_code">

                <div style="padding: 20px; background-color: #F2F2F2;" class="bottom_code_txt">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                {#                        <div class="layui-card-header">客户要求</div>#}
                                <div class="layui-card-body">
                                    <span>客户要求：</span>
                                    <span id="customer_req"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 20px; background-color: #F2F2F2;" class="bottom_code_txt">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                {#                        <div class="layui-card-header">客户要求</div>#}
                                <div class="layui-card-body">
                                    <span>面料裁剪：</span>
                                    <span id="mlcj"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 20px; background-color: #F2F2F2;" class="bottom_code_txt">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md6">
                            <div class="layui-card">
                                {#                        <div class="layui-card-header">客户要求</div>#}
                                <div class="layui-card-body">
                                    <span>裁剪改版：</span>
                                    <span id="cjgb"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="layui-table" lay-size="sm" id="cm_detaile">
                    <colgroup>
                        <col width="150">
                        <col width="0">
                        <col>
                    </colgroup>
                    <tbody class="cm_detaile_main">

                    </tbody>

                </table>
            </div>
            <div class="code_number">
                <span class="state"></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        var process
        var station = "{{ station }}"
        var name = "{{ name }}"
        var machine_code = "{{ machine_code }}"
        var card_id = "{{ card_id }}"
        var skill = "{{ skill }}"
        var userName = "{{ name }}"
        var prompt = document.getElementsByClassName("prompt");
        window.onload = function (e) {
            {# 图片的缩放#}
            list.zoomify();
            process = $('#work_stage').html()
            var code = "";
            var lastTime, nextTime;
            var lastCode, nextCode;
            /*socket*/
            list.echo_code();

            document.onkeypress = function (e) {
                nextCode = e.which;
                nextTime = new Date().getTime();

                if (lastCode != null && lastTime != null && nextTime - lastTime <= 30) {
                    code += String.fromCharCode(lastCode);
                } else if (lastCode != null && lastTime != null && nextTime - lastTime > 100) {
                    code = "";
                }

                lastCode = nextCode;
                lastTime = nextTime;
            }

            this.Template_rendering = function () {
                this.onkeypress = function (e) {
                    {#                console.log("e",e);#}
                    if (e.which == 13) {
                        console.log(code);
                        $('#code').text(code);
                        readcode({code: code, card_id: card_id.toString(), process: process, station: station});
                        code = "";
                    }
                }
            }
            Template_rendering();

        }

    </script>
{% endblock %}
